<ion-content> 
  <div>
  <ion-button shape = "default" expand="full" class="startButton" style=" color: #DEE6F7; font-family:Arial, Helvetica, sans-serif; font-weight: bold; " (click)="route_login()">GET STARTED</ion-button>
  </div>
  <div class = "title" style=" color: #0F15A1; font-size:xx-large; font-family:Arial, Helvetica, sans-serif; font-weight: bold; ">CUROMEDS</div>

    <div class = "image">
      <ion-img src="../../assets/image1.svg"></ion-img>
    </div>
    <div>
        <div class="stripe1"></div>
        <div class="stripe2"></div>
    </div>

</ion-content>



