<ion-content class="background">

  <div class="welcomeBack"> Welcome Back, </div>
  <div class="user">Dharsan</div>

  <div>
    <ion-card class="BMICard">
      <ion-card-content class="BMIFont2">
        BMI (Body Mass Index)
      </ion-card-content>
      <ion-card-content class="BMIFont1">
        You have a normal weight
      </ion-card-content>
      <ion-button shape="round" fill="clear" class="vmButton">
       <div class="vmButtonFont"> View More </div> 
      </ion-button>
    </ion-card>
  </div>

  <div>
    <ion-card class="apptCard">
      <ion-card-content class="apptCardFont">
        Upcoming Appointments
      </ion-card-content>
      <ion-button shape="round" fill="clear" class="checkButton">
        <div class="checkButtonFont"> Check </div> 
       </ion-button>
    </ion-card>
  </div>

</ion-content>
