ion-content.background{
    --ion-background-color: #DEE6F7;
}

  .title-image{
    width: 200px;
    height: 100px;
  }  

  .title{
    position:center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .content{
      position: center;
      margin-top: 250px;
      margin-right: 30px;
      margin-left: 30px;
  }
  
  .buttons-action{
      margin-left: 5px;
  }
  
  .signin-button{
    --background: white;
    --background-activated: rgb(228, 228, 230);
    --background-focused: rgb(228, 228, 230);
    --border-color: #0F15A1;
  }

  .signin-text{
      font-size: small;
      text-align:center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-transform: none;
      color: #0F15A1;
  }
  
  .register-button{
    --background: #0F15A1;
    --backgrond-hover: rgba(36, 176, 191, 0.21);
    --background-activated:  rgba(36, 175, 191, 0.79);
    --background-focused:  rgba(36, 175, 191, 0.79);
  }

  .register-text{
      font-size: small;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-transform: none;
  }
  
  ion-input{
      background-color: white;
      border-radius: 5px;
      font-size: small;
  }
  
  .actionbutton{
    --background: #0F15A1;
    --background-hover:  rgba(36, 175, 191, 0.79);
    --background-activated:  rgba(36, 175, 191, 0.79);
    --background-focused:  rgba(36, 175, 191, 0.79);
  }
  

  .buttonfont{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
