<ion-content class ="background">

  <div class="titleImage">
    <ion-img src="../../assets/app-title.png"></ion-img>
  </div>

  <div class="heyThere">Hey there, </div>
  <div class="welcomeBack"> Welcome Back</div>

  <div class="content">

    <div>
      <ion-input placeholder = "Email" class="inputFont" type="email" [(ngModel)]="email" >
        <ion-icon slot="start" class="messageIcon"></ion-icon>
      </ion-input>
    <br>
      <ion-input placeholder = "Password" class="inputFont" type = "password" [(ngModel)]="password" >
        <ion-icon slot="start" class="lockIcon" ></ion-icon>
        <ion-icon slot="end" class="passwordIcon"></ion-icon>
      </ion-input>
    </div>

    <div class="forgotPasswordText"> Forgot your password?</div>

    <ion-button class = "loginButton" shape = "round" expand = "block" style = "text-transform: none; font-weight: normal;" (click)="route_home" (click)="route_home()" >
      <ion-icon slot="start" class="loginIcon"></ion-icon>
      <div class = "buttonfont" >Login</div>
    </ion-button>

    <ion-button fill="outline" class="googleButton">
      <ion-icon slot="icon-only" class="googleIcon"></ion-icon>
    </ion-button>

    <ion-button fill="outline" class="facebookButton">
      <ion-icon slot="icon-only" class="facebookIcon"></ion-icon>
    </ion-button>


    <div class="registerText1"> Don't have an account yet?</div>
    <div class="registerText2">Register</div>

    </div>
</ion-content>