<ion-content class="background">

  <ion-button fill="clear" class="backButton">
    <ion-icon slot="icon-only" class="larrowIcon"></ion-icon>
  </ion-button>
  <div class="title"> Medical Prescriptions </div>
  <ion-button fill="clear" class="optionsButton">
    <ion-icon slot="icon-only" class="dotsIcon"></ion-icon>
  </ion-button>

  <ion-button fill="clear" class="leftButton">
    <ion-icon slot="icon-only" class="leftIcon"></ion-icon>
  </ion-button>
  <div class="profile"> Profile 1 </div>
  <ion-button fill="clear" class="rightButton">
    <ion-icon slot="icon-only" class="rightIcon"></ion-icon>
  </ion-button>

  <div>
    <ion-card class="profileCard">
      <ion-card-title class="pCardFont">
        Profile 1 
      </ion-card-title>
      <ion-card-content class="pCardDetailsFont">
        13/11/22 - 13/02/23 I Dr. Arun I Cardiology
      </ion-card-content>
      <ion-toggle class="profileToggle" [checked]="true"></ion-toggle>
    </ion-card>
  </div>

</ion-content>
