<ion-content class="background">
  <div class="content">

    <div class="buttons-action">
      <ion-button fill="outline" size="small" class="register1-button">
        <p class="register-text" style="font-weight: normal;" >Register</p>
      </ion-button>
      <ion-button fill="solid" size="small" class="signin-button" (click)="route_login()">
        <b>
          <p class="signin-text" style="font-weight: normal;">Sign In</p>
        </b>
      </ion-button>
    </div>

    <div class="ion-padding">
      <ion-input placeholder="Email"
        style="color:black; padding-left: 10px !important; font-family:'Verdana, Geneva, Tahoma, sans-serif;'">
      </ion-input>
      <br>
      <ion-input placeholder="Phone No." type="phone"
      style="color:black; padding-left: 10px !important; font-family:'Verdana, Geneva, Tahoma, sans-serif;'">
      </ion-input>
      <br>
      <ion-input placeholder="Password" type="password"
        style="color:black; padding-left: 10px !important; font-family:'Verdana, Geneva, Tahoma, sans-serif;'">
      </ion-input>
      <br>
      <ion-input placeholder="Repeat Password" type="password"
        style="color:black; padding-left: 10px !important; font-family:'Verdana, Geneva, Tahoma, sans-serif;'">
      </ion-input>
    </div>

    <ion-button class="register2-button" expand="full" style="text-transform: none;">
      <div style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Register</div>
    </ion-button>
    <ion-button class="doctor-button" expand="full" style="text-transform: none;" (click)="route_doctorRegistration()" >
      <div style="font-family: Verdana, Geneva, Tahoma, sans-serif">Doctor Registration </div>
    </ion-button>

  </div>
</ion-content>
