ion-content.background{
    --ion-background-color: white;
  }

  .infoText{
    color: #7B6F72;;
    @font-face {
      font-family: Poppins;
      src: url(../../assets/Poppins.zip);
    }
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 73px;
    top: 360px;
  }

  .cprofileText{
    color: #1D1617;
    @font-face {
      font-family: Poppins;
      src: url(../../assets/Poppins.zip);
    }
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    width: 272px;
    height: 30px;
    left: 61px;
    top: 325px;
  }

  .clregistrationText{
    color: #1D1617;;
    @font-face {
      font-family: Poppins;
      src: url(../../assets/Poppins.zip);
    }
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    width: 190px;
    height: 30px;
    left: 102px;
    top: 385px;
  }

  .content{
    position: center;
    margin-top: 456px;
    margin-right: 30px;
    margin-left: 30px;
 }

  ion-input{
    background-color: #F7F8F8;
    border: 1px solid #F7F8F8;
    border-radius: 14px;
 }

  .dropdownStyle{
    --background-color: #F7F8F8;
    border: 1px solid #F7F8F8;
    border-radius: 14px;
    color: #7B6F72;
    text-indent: 50px;
    @font-face {
      font-family: Poppins;
      src: url(../../assets/Poppins.zip);
    }
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    width: 315px
  }

 .inputFont{
    color: #7B6F72;
    text-indent: 50px;
    @font-face {
      font-family: Poppins;
      src: url(../../assets/Poppins.zip);
    }
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    width: 315px
  }

  .phoneIcon{
    background: url(../../assets/Calling.svg);
    position: absolute;
    width: 25px;
    height: 25px;
    left: 11.25px;
    top: 7.5px;
  }

  .houseIcon{
    background: url(../../assets/Home.svg);
    position: absolute;
    width: 25px;
    height: 25px;
    left: 11.25px;
    top: 7.5px;
  }

  .image{
    position: absolute;
    width: 385px;
    height: 288px;
    left: 7px;
    top: 8px;
  }

.nextButton{
    --background: linear-gradient(274.42deg, #0B7ABF 0%, #9DCEFF 124.45%);
    border-radius: 99px;
    position: absolute;
    width: 315px;
    height: 60px;
    left: 40px;
    top: 730px;
    --box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
  }

  .buttonFont{
    @font-face {
      font-family: Poppins;
      src: url(../../assets/Poppins.zip);
    }
    width: 98px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  .arrowIcon{
    background: url(../../assets/arrow.png);
    position: absolute;
    left: 54.42%;
    right: 6.25%;
    top: 36.17%;
    bottom: -28.33%;
  }